 /* .list {
  width: 80%;
  color: black;
  text-align: left;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

/* .list-item {
  padding: 10px;
} */
