.menu {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(90deg, white 50%, #f6f9fc 50%);
  border-radius: 3px;
  min-height: 500px;
  padding: 15px;
  width: 65%;
}

.menu * {
  font-size: 14px;
}
